<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/custom.css">
    <title><%= title %></title>
</head>
<body>
    <% if (!locals.user) { %>
        <%- include("partials/menu.ejs") %>
    <% } %>
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <% if (locals.user) { %>
                <%- include("partials/sidemenu.ejs") %>
            <% } %>

            <main class="col-md-9 col-lg-10 p-4">
                <h1 class="text-center"><%= title %></h1>
                <%- body %>
            </main>
        </div>
    </div>
    <!-- Bootstrap JavaScript and dependencies (jQuery and Popper.js) -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>